:root {
    --dark-0: #14151a;
    --dark-1: #202129;
    --dark-2: #282933;
    --dark-3: #5a5c72;
    --main-0: #7f5f01;
    --main-1: #fed24c;
    --main-2: #fedb72;
    --text-0: #505266;
    --text-1: #9d9fb3;
    --weight : light;
    scroll-behavior: smooth;
}

/* GENERAL NAVIGATION BAR STYLES */


.head {
    margin-top: 30px;
}

.logo-img {
    width: 200px;

}

.menu-items {
    display: flex;
    list-style-type: none;
    font-weight: var(--weight);
    color: var(--text-1);
}

.back-drop {
    border-radius: 20px;
    width: 90px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.back-drop:hover {
    background-color: var(--dark-3);

}

.currency {
    border: none;
    width: 65px;
    color: var(--text-1);
}

option {
    background-color: var(--dark-3);
}

.dash {
    width: 120px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--main-1);
    margin-left: 30px;

}

.dash:hover {
    background-color: var(--main-2);
}

.sign {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 9999px;
    background-color: var(--text-0);
    color: var(--main-1);
    margin-left: 10px;
}